@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet');
@import url('https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js');

/*
#CA9335
#5f410d
#eeeeee
*/

:root {
  font-family: "Montserrat", sans-serif;
  background-color: #eeeeee;
}

html {
  scrollbar-gutter: stable;
}

/*------------Product Card------------*/

.product-card {
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
}

/*------------Filter------------*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* input[type="number"] {
    -moz-appearance: textfield;
} */

input[type="checkbox"] {
    accent-color: #CA9335;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

label {
    cursor: pointer;
    user-select: none;
}

.filter-btn{
    background-color: #CA9335;
    color: white;
    border-radius: 5px;
    transition: all 0.3s;
}

.filter-btn:hover {
    border: 2px solid #CA9335;
    color: #CA9335;
    background-color: white;
}

.filter-section {
    border-bottom: 1px solid #e5e7eb;
    transition: all 0.2s ease;
}

.filter-section button {
    transition: all 0.2s ease;
}

.filter-section button:hover {
    opacity: 0.8;
}
